* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4% 2%;
  background: papayawhip;
  height: 80px;
}

.left-links ul,
.right-links ul {
  display: flex;
  list-style-type: none;
}

.left-links ul li,
.right-links ul li {
  margin: 0 10px;
  flex: 1 1 0;
}

.logo {
  font-size: 400%;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 1%;
  margin: 1%;
  text-align: center;
  flex: 0 1 0;
}

a {
  font-size: 200%;
  background: white;
  padding: 8px;
  text-decoration: none;
}

.left-links,
.right-links {
  flex-shrink: 1;
}

@media (max-width: 768px) {
  .header {
    height: 100px;
    padding: 0 5px;
  }
  .logo {
    font-size: 150%;
    margin: 3%;
    padding: 2%;
  }
  .left-links ul li,
  .right-links ul li {
    margin: 0 5px;
    

  }
  a{
    font-size: 100%;
  }
}
